html {
    font-size: 15px
}

body {
    margin: 0;
    font-family: 'Montserrat',
    sans-serif;
    font-size: 1rem;
    color: #2B2A2C
}

body.no-scroll {
    overflow: hidden
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

*,
*:before,
*:after {
    box-sizing:border-box
}

.container {
    width: 100%;
    max-width: 1200px;
    padding-left: 1rem;
    padding-right: 1rem;
    margin: 0 auto
}

.header {
    padding: 1.2rem 0
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center
}

.user {
    display: flex
}

.user__avatar {
    width: 57px;
    height: 57px
}

.user__avatar img {
    border-radius: 50%
}

.user__content {
    padding-left: 9px
}

.user__name {
    margin-bottom: 3px;
    font-size: 1.06rem;
    line-height: 1.2;
    color: #2B2A2C;
    font-weight: 700
}

.user__prof {
    font-size: .8rem;
    color: #2B2A2C
}

.nav {
    display: flex;
    height: 100%
}

.nav__link {
    margin-left: 2rem;
    position: relative;
    font-size: .93rem;
    color: #2B2A2C;
    text-transform: uppercase;
    font-weight: 700;
    text-decoration: none;
}

.nav__link:after {
    content: "";
    width: 0;
    height: 2px;
    background-color: #2B2A2C;
    position: absolute;
    bottom: -5px;
    left: 0;
    z-index: 1;
    transition: width .2s linear;
}

.nav__link:hover:after, 
.nav__link.active {
    width: 100%;
}


.intro__inner {
    display: flex;
    padding-top: 100px;
    padding-bottom: 120px;
    border-bottom: 1px solid rgba(106,105,107,0.3);
}

.intro__content {
    width: 50%;
}

.intro__subtitle {
    font-size: 2.13rem;
    color: #2B2A2C;
    font-weight: 200;
}

.intro__title {
    margin-bottom: 5px;
    font-size: 3rem;
    color: #2B2A2C;
    font-weight: 700;
}

.intro__text {
    margin-bottom: 25px;
    font-size: 1.2rem;
    color: rgba(43,42,44,0.7)
}

.social {
    display: flex;
    margin-bottom: 42px;
}

.social__link {
    text-decoration: none;
    margin-right: 10px;
    transition: transform .2s linear;
}

.social__link:hover {
    transform: translateY(-5px);
}

.btn {
    display: inline-block;
    vertical-align: top;
    padding: 1.05em 1.7em;

    border: 1px solid #6A696B;
    border-radius: 1.8em;
    background: none;
    cursor: pointer;

    font-family: inherit;
    font-size: 1.06rem;
    line-height: 1.1;
    color: #2B2A2C;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;

    transition: background-color .2s linear, color .2s linear, border-color .2s linear
}

.btn:focus {
    outline: none;
}

.btn:hover {
    background-color: #2B2A2C;
    color: #fff;
    border-color: #2B2A2C;
}

.btn--sm {
    padding: .7em 1.2em;
    font-size: .94rem;
    font-weight: 700;
    border-width: 2px
}

.text-center {
    text-align: center;
}

.about__content {
    margin-left: 20rem;
}

.about__conteiner {
    padding-left: 48.7px;
}

.about__title {
    font-size: 3rem;
    color: #2B2A2C;
    font-weight: 700;
}

.about__bigtitle {
    margin-bottom: 1.4rem;
    line-height: 1.1;
    font-size: 6.1rem;
    color: rgba(43,42,44,0.15);
}

.about__text {
    font-size: .8rem;
    line-height: 2;
    color: #6A696B;
    padding-bottom: 1rem;
}

.works {
    padding: 2.8rem 0;
}


.works__nav {
    display: flex;
    justify-content: center;
    margin-bottom: 1.4rem;
}

.works__nav-link {
    margin: 0 1.2rem;
    font-size: .8rem;
    color: rgba(43,42,44,0.7);
    text-decoration: none;
}

.works__nav-link:hover {
    text-decoration: underline;
}

.portfolio {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -1rem 2.8rem;
}

.portfolio__col {
    flex-basis: 33.33333%;
    padding: 1rem;
}

.work {
    overflow: hidden;
    border-radius: 10px;
    box-shadow:0 0 4px
    rgba(0,0,0,0.25);
    transition: box-shadow .2s linear;
}

.work:hover {
    box-shadow:0 0 25px
    rgba(0,0,0,0.25)
}

.work__image {
    display: block;
    max-width: 100%;
    height: auto;
}

.work__content {
    padding: 1rem 0.8rem;
}

.work__cat {
    margin-bottom: 0.5rem;
    font-size: .8rem;
    color: #2B2A2C;
    text-transform: uppercase;
}

.work__title {
    display: flex;
    justify-content: space-between;
    font-size: 1.6rem;
    color: #2B2A2C;
    font-weight: 700;
    text-transform: uppercase;
}

.background {
    padding: 6rem 0;
    background:#332f30 url(/img/bg.png) center no-repeat;
}

.blog {
    margin-top: 12rem;
    margin-bottom: 8rem;
}

 .blog__header {
    margin-bottom: 3.6rem;
    text-align: center;
 }

 .blog__title {
    margin-bottom: 0.3rem;
    font-size: 3rem;
    font-weight: 700;
    text-transform: uppercase;
    color: #2B2A2C;
 }

 .blog__text {
    font-size: 1.2rem;
    font-weight: 300;
    columns: #8d8d8e;
 }

 .news {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -1rem;
 }

 .news__col {
    width: 33.33333%;
    padding: 0 1rem;
 }

 .news__item {
    margin-bottom: 2rem;
 }

 .news__header {
    margin-bottom: 1.35rem;
    position: relative;
    
}

.news__date {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 77px;
    width: 77px;
    background-color: #2B2A2C;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    font-size: 1.06rem;
    line-height: 1.4;
    color: #fff;
}

.news__img {
    display: block;
    max-width: 100%;
    height: auto;
}

.news__content {
    margin-bottom: 2rem;
}

.news__title {
    margin-bottom: .6rem;
    font-size: 1.2rem;
    font-weight: 700;
    text-transform: uppercase   ;
    color: inherit;
}
 .news__title a {
    color: inherit;
    text-decoration: none;
 }
 .news__title a:hover {
    text-decoration: underline;
 }

 .news__cat {
    margin-bottom: 1.5rem;
    font-size: .8rem;
    color: #2B2A2C;
    text-transform: uppercase;
}

.news__text {
    font-size: 0.8rem;
    font-weight: 300;
    color: #6A696B;
    line-height: 2;
}

.blog__link {
    font-size: .94rem;
    color: #6A696B;
}

.blog__footer {
    text-align: right;
}

.blog__link:hover {
    text-decoration: none;
    
}

.footer {
    padding: 1rem 0;
    background-color: #2B2A2C;
}

.footer__inner {
    display: flex;
    justify-content: space-between;
}

.footer__credits {
    display: flex;
    align-items: center;
}

.footer__copyright {
    padding-right: .8rem;
    margin-right: 1rem;
    font-size: .94rem;
    color: #BBBBCC;
    border-right: 1px solid rgba(106,105,107,0.35);
}

.footer__social {
    align-items: center;
    display: flex;
}

.footer__social a {
    margin-right: 1.3rem;
    text-decoration: none;
}

.footer__nav {
    align-items: center;
    display: flex;
    font-size: .94rem;
}

.footer__nav-link {
    margin-left: 1.5rem;
    text-decoration: none;
    color: #8d8d8e;
}

.footer__nav-link:hover {
    text-decoration: underline;
}

.modal {
    display: flex;
    width: 100%;
    height: 100%;
    padding: 1rem;
    overflow: auto;
    background-color: rgba(6,15,49,0.9);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000
}

.modal__dialog {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    position: relative;
    background-color: #fff}
    
.modal__close {
    width: 34px;
    height: 39px;
    padding: 0;
    background: none;
    border: 0;
    cursor: pointer;
    position: absolute;
    top: .9rem;
    right: 1rem;
    z-index: 1;
    transition: transform .2s linear
}
    
.modal__close:hover {
    transform:translateY(-3px)
}

.modal-work {
    display: flex
}

.modal-work__preview {
    width: 65%;
    position: relative;
    overflow: hidden
}

.modal-work__photo {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    transform: translate3d(-50%, -50%, 0)
}

.modal-work__content {
    width: 35%;
    padding: 3.4rem 6.6rem 1rem 1.73rem;
    position: relative
}

.modal-work__header {
    margin-bottom: 2.2rem
}

.modal-work__title {
    margin-bottom: .2rem;
    font-size: 2.12rem;
    color: #2b2a2c;
    font-weight: 700;
    text-transform: uppercase
}

.modal-work__info {
    font-size: 1.2rem;
    color: #6a696b;
    text-transform: uppercase
}

.modal-work__info-divider {
    margin: 0 1rem
}

.modal-work__client {
    margin-bottom: 2.2rem
}

.modal-work__client-title {
    margin-bottom: .2rem;
    font-size: 1.06rem;
    color: #2b2a2c;
    font-weight: 700
}

.modal-work__client-company {
    font-size: .94rem;
    font-style: italic;
    color: #6a696b
}

.modal-work__text {
    margin-bottom: 8.66rem;
    font-size: .8rem;
    line-height: 2;
    color: #6a696b;
    font-weight: 300
}

.modal-work__footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 1.8rem 1rem;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1
}

.modal-work__btn {
    padding: 0;
    background: none;
    border: 0;
    cursor: pointer;
    font-family: inherit;
    font-size: .94rem;
    color: #2b2a2c;
    text-transform: uppercase
}

.text-center {
    text-align: center
}

.img {
    display: block;
    max-width: 100%;
    height: auto
}